h1{
    text-align: center;
    font-size: large;
}
.certTile{
    display: block;
    width: 100%;
    background: #161515;
    margin: 1% 0;
    padding: 1%;
    text-align: center;
}
@media only screen and (max-width: 766px) {
    .certTile {
      background:black;
    }
  }